<!DOCTYPE html>
<html>

<body>
    <h1>
        <% if (day === 0 || day === 6) { %>
            Hey! It's the weekend, it's time to have fun!

        <%} else {%>
            Hey! It's a weekday, it's time to work hard!
        <%} %>
    </h1>

</html>